<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de contact</title>
    <script src="/javascripts/contact-us.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/contact-us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div>
            <button class="donate-button">
                Donează
            </button>
        </div>
        <img src="/images/logo.png" alt="brand-image">
        <% if(locals.session.loggedIn){ %>
            <div>
                <form action=/auth/logout method="get">
                    <button class="user-btns">Delogare</button>
                </form>
            </div>
            
        <% } else { %>
            <div>
                <button class="user-btns" onclick="window.location.href='/auth';" value="logIn">
                    Logare
                </button>
                <button class="user-btns" onclick="window.location.href='/auth';" value="SignUp">
                    înregistrare
                </button>
            </div>
        <% } %>
    </div>
    <div class="nav">

        <a href="#" class="burgir">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-content">
            <ul>
                <li><a href="/">Acasă</a></li>
                <li><a href="/adopt">Adoptă</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="content">
                <div class="image">
                    <img src="/images/cat.jpg" alt="cat cute">
                </div>
                <div class="form">
                    <h1>
                        Contactează-ne
                    </h1>
                    <form method="post">
                        <label for="name">Nume și prenume</label>
                        <input type="text" id="name" name="name" placeholder="Nume și prenume">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Email">
                        <label for="phoneNr">Telefon</label>
                        <input type="number" id="phoneNr" name="phoneNr" min="0" max="9999999999">
                        <label for="city">Oraș</label>
                        <select id="city" name="city">
                            <option value="bucuresti">București</option>
                            <option value="buzau">Buzău</option>
                            <option value="braila">Brăila</option>
                            <option value="iasi">Iași</option>
                            <option value="ploiesti">Ploiești</option>
                        </select>
                        <label for="subject">Subiect</label>
                        <textarea id="subject" name="subject" placeholder="Scrie ceva..."
                            style="height:170px"></textarea>
                        <p>Metoda favorită de contact</p>
                        <br>
                        <input type="radio" id="email_fav" name="contact_fav" value="Email_fav">
                        <label for="email_fav">Email</label><br>
                        <input type="radio" id="phone_fav" name="contact_fav" value="Phone_fav">
                        <label for="phone_fav">Telefon</label><br>
                        <br>
                        
                        <input type="submit" value="Trimite" id="submit-button">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-links">
            <div>
                <p class="footer-title">
                    CONTACT
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">
                    LINK-URI RAPIDE
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">
                    RESURSE
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>
                ©2022 De fapt n-am drepturi de copyright.
            </p>
            <div>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
</body>

</html>