<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de LogIn/SignUp</title>
    <script src="/javascripts/login-signup.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/login-signup.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div>
            <button class="donate-button">
                Donează
            </button>
        </div>
        <img src="/images/logo.png" alt="brand-image">
        <% if(locals.session.loggedIn){ %>
            <div>
                <form action=/auth/logout method="get">
                    <button class="user-btns">Delogare</button>
                </form>
            </div>
            
        <% } else { %>
            <div>
                <button class="user-btns" onclick="window.location.href='/auth';" value="logIn">
                    Logare
                </button>
                <button class="user-btns" onclick="window.location.href='/auth';" value="SignUp">
                    înregistrare
                </button>
            </div>
        <% } %>
    </div>
    <div class="nav">

        <a href="#" class="burgir">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-content">
            <ul>
                <li><a href="/">Acasă</a></li>
                <li><a href="/adopt">Adoptă</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="content">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">
                        Logare
                    </button>
                    <button type="button" class="toggle-btn" onclick="signup()">
                        înregistrare
                    </button>
                </div>
                <form id="logIn" class="input-group" action=/auth/login method="post">
                    <label for="user">Nume utilizator</label>
                    <input type="text" id="userIdL" class="input-field" name="user" placeholder="Nume" required>
                    <label for="password">Parolă</label>
                    <input type="password" id="passwordL" class="input-field" name="password" placeholder="Parolă"
                        required>
                    <% if(typeof loginMessage !== "undefined") {%>
                        <p id="error-message"> <%= loginMessage %> </p>
                        <% } %>
                    <button class="submit-btn">LogIn</button>
                </form>
                <form id="register" class="input-group" action=/auth/register method="post">
                    <label for="register-user">Nume utilizator</label>
                    <input type="text" id="register-user" class="input-field" name="registerUser" placeholder="Nume" required>
                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" class="input-field" name="registerEmail" placeholder="Email" required>
                    <label for="register-password">Parolă</label>
                    <input type="password" id="register-password" class="input-field" name="registerPassword" placeholder="Parolă"
                        required>
                    
                    <% if(typeof registerMessage !== "undefined") {%>
                        <p id="error-message"> <%= registerMessage %> </p>
                        <% } %>
                    <button class="submit-btn">SignUp</button>
                </form>
            </div>
        </div>
        <img src="/images/cookie.png" alt="cookie" id="cookie">
        <img src="/images/graycat.png" alt="a cute gray cat" id="graycat">
        <img src="/images/givetextbbl.png" alt="text bubble 'give me cookie, pls!'" id="give-txtbbl">
        <img src="/images/thxtextbbl.png" alt="text bubble 'thanks!'" id="thx-txtbbl">
    </div>


    <div class="footer">
        <div class="footer-links">
            <div>
                <p class="footer-title">
                    CONTACT
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">
                    LINK-URI RAPIDE
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">
                    RESURSE
                </p>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>
                ©2022 De fapt n-am drepturi de copyright.
            </p>
            <div>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
</body>

</html>